@using Silvercrest.Web.Helpers.Assembly
@model Silvercrest.ViewModels.Client.Holdings.Index.HoldingsViewModel
@using Silvercrest.Web.Common;
@{
    ViewBag.Title = "Holdings";
}
<link href="~/Content/kendoStyle.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/app/Client/AccountsController/AccountController.js?v=@Url.GetVersion()"></script>
<input id="contactId" type="hidden" value="@Hash.GetEncryptedValue(Model.PageData.ClientId.ToString())" />
<input id="entityId" type="hidden" value="@Hash.GetEncryptedValue(Model.PageData.EntityId.ToString())" />
<input id="isGroup" type="hidden" value="@Hash.GetEncryptedValue(Model.PageData.IsGroup.ToString())" />
<input id="isClientGroup" type="hidden" value="@Hash.GetEncryptedValue(Model.PageData.IsClientGroup.ToString())" />
<input id="fullName" type="hidden" value="@Model.PageData.Name" />
<section id="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-free"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="arrow-right"></span>View Accounts</a></div>
            <div class="col-free"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="arrow-right"></span>View Groups</a></div>
            @if (Model.PageData.IsGroup == true)
            {
                <div class="col-free"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="arrow-right"></span>View Accounts Within Group</a></div>
            }

        </div>
    </div>
</section>
<section id="bread-panel">
    <div class="container">
        <div class="row">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <strong>Accounts</strong>
                        <div class="moreArrows">
                            <a href="#"><i class="fa fa-caret-left fa-lg" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-caret-right fa-lg" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                        <strong>Groups</strong>
                        <div class="moreArrows">
                            <a href="#"><i class="fa fa-caret-left fa-lg" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-caret-right fa-lg" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

                        <strong>Accounts Within Groups</strong>
                        <div class="moreArrows">
                            <a href="#"><i class="fa fa-caret-left fa-lg" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-caret-right fa-lg" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="user_info">
    <div class="container">
        <div id="info" class="row">
            <span class="pull-left">
                @Model.PageData.CustodianAccount
            </span>
            <span class="pull-right">
                @Model.PageData.DateString
            </span>
        </div>

    </div>

</section>
<section id="title">
    <div class="container">
        <div class="row">
            <h2>@Model.PageData.Name</h2>
            <h3>ALLOCATION BY ASSET CLASS</h3>
        </div>
    </div>
</section>
<section id="graph">
    <div class="container pb10 pt10">
        <div class="row">
            @if (Model.PageData.HoldingType == true)
            {
                @Html.Partial("AssetAndStrategyPies");
            }
            @if (Model.PageData.HoldingType == false)
            {
                @Html.Partial("AssetOnlyPie");
            }
            <script>
                var model = @Html.Raw(Json.Encode(Model));
            </script>
            <script id="pieJS" json-url="/Client/Holdings/GetChartAssetClass" src="~/Scripts/chart_home.js"></script>

            <!--           <script type="text/javascript" src="~/Scripts/app/Client/HoldingsController/AssetClassPie.js"></script>-->

        </div>
    </div>

</section>
<section id="table6">
    <article class="container pb100">
        <input id="sorting" value="none" type="hidden" />
        <div id="accountTable" class="pdf-page">
        </div>
        @if (!Model.PageData.HoldingType)
        {
            <script type="text/javascript" src="~/Scripts/app/Client/HoldingsController/ViewAccountInitShort.js?v=@Url.GetVersion()"></script>
        }
        <div class="row" style="margin:0 ">
            <div class="pull-right download-wrapper">
                <!-- Dave added everything in here -->
                <div class="btnShadow"></div>
                <div class="dwnLoadAll">
                    <div class="btnSlider" style="display: none;">
                        <div class="btn btn-exl"><a href="" class="k-grid-excel" onclick="getExcel()"><img src="/img/excel.png"><br>EXCEL</a></div>
                    </div>
                    <a class="btn btn-download"><span>DOWNLOAD REPORT</span><span class="arrow-down"></span></a>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
    </article>
</section>

@section Script{

    @if (Model.PageData.HoldingType)
    {
        <script type="text/javascript" src="~/Scripts/app/Client/HoldingsController/ViewAccountInitDetailed.js?v=@Url.GetVersion()"></script>
        <script type="text/javascript" src="~/Scripts/app/Client/HoldingsController/StrategyPie.js?v=@Url.GetVersion()"></script>
    }
}


<script>
    $(document).ready(function () {
        $("#navigatino-item-active ul li:nth-child(2)").addClass('active');
        $("#bs-example-navbar-collapse-1 ul li:nth-child(2)").addClass('active');

        $("k-gird-content").attr("max-height", "200px");

        var padding = ($("#legend").parent().parent().height - $("#legend").height) / 2;
        $("#legend").css("padding-top", padding);
    });

</script>